@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Noto+Serif+TC:wght@400;500;700;900&display=swap');

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

/* *{
    padding: 0;
    margin: 0;
    list-style: none;
} */

body{
    background-color: #967e82;
}

/* header */
.navbar-brand img {
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
    }

    .pattern{
        display: none;
    }

    .line{
        display: block !important;
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

@media (min-width: 1200px) {
    .pattern{
    display: block;
    }
    .line{
        display: none !important;
    }
}

@media (max-width: 768px) {
    .pattern{
        display: none;
    }

    .content_area{
        margin-top: 150px !important;
    }
    .line{
        display: block !important;
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

@media (max-width: 575.98px) {
    .container{
    max-width: 330px;
    }
}

.navbar{

	background-color: #382933;
    box-shadow: 0px 2px 10px #382933d7;
    
}

.navbar-light .navbar-nav .nav-link{

	font-family: 'Noto Serif TC', serif;
    color:#FFF6EE ;
    margin-top: 15px;
} 


li a:hover{

	color:#F7D48D !important;
    
}


.navbar-light .navbar-toggler {

	padding: 3px;
	margin-left: 30px;
    
}


.nav-link{

    margin-left: 3px;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    font-weight: 700;
}


/* article */
.content_area{

    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 250px;
    margin-bottom: 100px;
    justify-content: center;
}

.pattern{
    position: absolute;
    width: 80%;
    max-width: 1200px;
    top: 170px;
    /* margin-top: 40px; */
    /* margin-left: 95px; */
    /* margin-right: 100px; */
}
article{
    display: flex;
    /* justify-content: space-between; */
}

.col-md-auto{
    text-align: center;
}

.photo{
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.name{
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
    font-size: 24px;
    /* line-height: 50px; */
    color:#382933;
}

.sub{
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
    color:#382933;
    font-size: 14px;
}

.intro{
    max-width: 650px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.85;
    color: #382933;
    margin-top: 15px;
}

.line{
    width: 100%;
    display: none;
}

.char_box{
    margin-top: 150px;
    margin-bottom: 95px;
}

.col-4{
    text-align:center;
    margin-bottom: 20px;
}

.char_box-indiv{
    position:relative;
    width: 60px;
    height: 60px;
    opacity: 0.75;
}

.char_box-indiv:hover{
    opacity: 1;
}

.footer{
    position: relative;
    font-family: 'Noto Serif TC', serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #382933;
    color:#F7D48D;
    font-size: 12px;
}

.twitter{

    position: absolute;
    right: 95px;
    height: 25px;
    width: 25px;
}
.ig{

    position: absolute;
    right:50px;
    height: 25px;
    width: 25px;
}