@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Noto+Serif+TC:wght@400;500;700&display=swap');


body{
    background-color: #967e82;
}

html{
	width: 100%;
}

* {
	padding: 0;
    margin: 0;
    list-style: none;
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}

.navbar-brand img {
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
    }
}

@media (max-width: 767.98px) {
     .title{
        width: 80% !important;
    }   
}

@media (max-width: 575.98px) {
    .container{
        max-width: 100%;
    }

}

.navbar{

	background-color: #382933;
    box-shadow: 0px 2px 10px #382933d7;
    
}

.navbar-light .navbar-nav .nav-link{

	font-family: 'Noto Serif TC', serif;
    color:#FFF6EE ;
    margin-top: 15px;
} 


li a:hover{

	color:#F7D48D !important;
    
}


.navbar-light .navbar-toggler {

	padding: 3px;
	margin-left: 30px;
    
}


.nav-link{

    margin-left: 3px;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    font-weight: 700;
}

.title{
    width: 50%;
    margin-top: 100px;
}

.col{
    text-align: center;
}

.container{
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.char_card{
    width: 80%;
    -webkit-transition:transform;
    transition: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.col-lg-4{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.char_card:hover{
    transform: scale(1.1);
}

.char_card:active{
    transform: scale(0.9);
}

.footer{
    position: relative;
    font-family: 'Noto Serif TC', serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #382933;
    color:#F7D48D;
    font-size: 12px;
}

.twitter{

    position: absolute;
    right: 95px;
}
.ig{

    position: absolute;
    right:50px;
}