@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Noto+Serif+TC:wght@400;500;700&display=swap');


body{
    background-color: #967e82;
}

html{
	width: 100%;
}

* {
	padding: 0;
    margin: 0;
    list-style: none;
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}

.navbar-brand img {
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
}

}

.navbar{

	background-color: #382933;
    box-shadow: 0px 2px 10px #382933d7;
    
}

.navbar-light .navbar-nav .nav-link{

	font-family: 'Noto Serif TC', serif;
    color:#FFF6EE ;
    margin-top: 15px;
} 


li a:hover{

	color:#F7D48D !important;
    
}


.navbar-light .navbar-toggler {

	padding: 3px;
	margin-left: 30px;
    
}


.nav-link{

    margin-left: 3px;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    font-weight: 700;
}

.col-9{
    
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;  
    color: #382933;

}

.col-9 h2{
   
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 50px;
    margin-top: 50px;
}
.col-9 h3{
   
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 40px;
}

.col-9 p{
    
    display: flex;
    font-family: 'Noto Serif TC', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    color: #382933;
}

.col-9{

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.card-container{

    width: 240px;
    height: 320px;
    position: relative;
    perspective: 1000px;
    margin: 40px auto;
    
}

.cover, .back{

    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .25s ease-in-out ;
    margin: auto;

}

.cover{

    transform: rotateY(0deg);
    
}
.back{

    transform: rotateY(-180deg);
}
.card-container:hover .cover{

    transform: rotateY(180deg);
}
.card-container:hover .back{

    transform: rotateY(0deg);
}


.footer{
    position: relative;
    font-family: 'Noto Serif TC', serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #382933;
    color:#F7D48D;
    font-size: 12px;
    margin-top: 80px;
}

.twitter{

    position: absolute;
    right: 95px;
}
.ig{

    position: absolute;
    right:50px;
}
h2{
    color: #382933;
}