@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Noto+Serif+TC:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{

    background-color: #967e82;
}



.navbar-brand img {
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
    }

    
}



@media (max-width: 768px) {
    .bil{
        display: none ;
    }
    .bil2{
        display: none ;
    }
    .line22{
        display: none ;
    }
    .line33{
        display: none ;
    }

    
}
@media (min-width: 1440px) {

    .line2{
        display: none ;
    }
    .line3{
        display: none ;
    }

    .content_area{
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: end;
    }

    .content_area2{
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: start;
    }
}

@media (max-width: 1280px) {

    .bil{
        position: absolute;
        left: 230px!important; 
    
    }
    
    
    .bil2{
        position: absolute;
        left: 50px !important; 
       
    }
    
    

}

@media (max-width: 1024px) {

    .bil{
        display: none ;
    
    }
    
    
    .bil2{
        display: none ;
       
    }
    
    

}



@media (min-width: 769px) {

    .line2{
        display: none ;
    }
    .line3{
        display: none ;
    }

 
}



.navbar{

	background-color: #382933;
    box-shadow: 0px 2px 10px #382933d7;
    
}

.navbar-light .navbar-nav .nav-link{

	font-family: 'Noto Serif TC', serif;
    color:#FFF6EE ;
    margin-top: 15px;
} 


li a:hover{

	color:#F7D48D !important;
    
}


.navbar-light .navbar-toggler {

	padding: 3px;
	margin-left: 30px;
    
}


.nav-link{

    margin-left: 3px;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    font-weight: 700;
}

.line2{



    width: 100%;
    margin-bottom: 30px;
}
.line22{



    width: 100%;
    margin-bottom: 30px;
}
.line3{



    width: 100%;
    margin-bottom: 100px;
    margin-top: 30px;
    
}
.line33{



    width: 100%;
    margin-bottom: 100px;
    margin-top: 30px;
    
}


.col-9{
    
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 30px;
    color: #382933;

   
    
    
}

.col-9 h2{

    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 50px;
}

.col-9 p{

    font-family: 'Noto Serif TC', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    color: #382933;
}


.cover_row{

    margin-bottom: 60px;
    
}

.bil{
    position: absolute;
    /* left: 310px; */

}


.bil2{
    position: absolute;
    /* left: 130px;    */
}




.col-lg-7{

    align-self: center;
}

.col-lg-5{

   display: flex;
   align-items: center;
   justify-content: center;
}


.cover_text{

    display: flex;
    flex-direction:column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: #382933;
    align-self: center;

}

.cover_text h2{

    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 50px;
}

.cover_text p{

    font-family: 'Noto Serif TC', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.85;
    color: #382933;
}


.footer{
    position: relative;
    font-family: 'Noto Serif TC', serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #382933;
    color:#F7D48D;
    font-size: 12px;
    margin-top: 50px;
}

.twitter{

    position: absolute;
    right: 95px;
    height: 25px;
    width: 25px;
}
.ig{

    position: absolute;
    right:50px;
    height: 25px;
    width: 25px;
}

