@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Noto+Serif+TC:wght@400;500;700&display=swap');


body{
    background-color: #967e82;
}

html{
	width: 100%;
}

* {
	padding: 0;
    margin: 0;
    list-style: none;
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}

.navbar-brand img {
	height: 50px;
}

@media (min-width: 1440px){ 
.connews{

    padding-left: 220px!important;
    padding-right: 220px!important;
 
}
}
@media (min-width: 1024px){ 
    .connews{
    
        padding-left: 100px!important;
        padding-right: 100px!important;
     
    }
    }

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
}

.link_box h2{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 40px;
    font-size: 26px;
}

.link_text h2{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 40px;
    font-size: 26px;
}
.conicon4{


    width: 824px;

}

}

@media (min-width: 425px) {

    .news_text h2{
        font-family: 'Noto Serif TC', serif;
        font-weight: 700;
        line-height: 50px;
        font-size: 26px;
        
    }
    
}

.navbar{

	background-color: #382933;
    box-shadow: 0px 2px 10px #382933d7;
    
}

.navbar-light .navbar-nav .nav-link{

	font-family: 'Noto Serif TC', serif;
    color:#FFF6EE ;
    margin-top: 15px;
} 


li a:hover{

	color:#F7D48D !important;
    
}


.navbar-light .navbar-toggler {

	padding: 3px;
	margin-left: 30px;
    
}


.nav-link{

    margin-left: 3px;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    font-weight: 700;
}

.carousel-indicators li{

	height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #F7D48D;
}



.banner {
	margin-top: 76px;

}
.banner .container-fluid {
	padding:0!important;
}



.col-lg-9{

    align-self: center;
}

.connews{

    margin: 0;
    padding: 0;
    
}
.news{

    margin: 60px auto;
    background: #ccbbbeb9;
    padding: 20px;
}
.news:hover{

   
    background-color: #ccbbbe;
}


.book{
    width: 240px;
    height: 200px;
    margin: 10px auto;

}

.news_text{
    display: flex;
    flex-direction:column;
    color: #382933;
}

.news_text h2{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 50px;
    
}

.news_text p{
    font-family: 'Noto Serif TC', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.85;
    color: #382933;
}


.icon{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.link_box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}


.link_box h2{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 40px;
}

.link_box p{
    font-family: 'Noto Serif TC', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #382933;
    line-height: 1.85;
}

.line{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon4{

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.link_text{
    
    
    color: #382933;
    text-align: center;
    
    
    
}

.link_text h2{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 40px;
    
}

.link_text p{
    font-family: 'Noto Serif TC', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #382933;
    line-height: 1.85;
    
}

.col-lg-6{


    align-self: center;
    justify-content: center;
   
}




.footer{
    position: relative;
    font-family: 'Noto Serif TC', serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #382933;
    color:#F7D48D;
    font-size: 12px;
    margin-top: 40px;
}

.twitter{

    position: absolute;
    right: 95px;
    height: 25px;
    width: 25px;
}
.ig{

    position: absolute;
    right:50px;
    height: 25px;
    width: 25px;
}
h2{
    color: #382933;
}